<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Sign up</title>
</head>
<body>
  <div class="signup">
    <form method="POST" action="{{ url_for('Signup') }}">
      {{ form.hidden_tag() }}
      <h1 class="Header">Sign up</h1>
      <p class="subheader">
        Become a member — don’t miss out on deals, offers, discounts, and bonus vouchers.
      </p><br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alerting_message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br> 

      {% if error %}
        <div class="error">{{ error }}</div>
      {% endif %}

      <label>{{ form.first_name.label }}</label>
      {{ form.first_name(class="form-control", type="first_name") }}
      {% for e in form.first_name.errors %}<div class="error">{{ e }}</div>{% endfor %}

      <label>{{ form.last_name.label }}</label>
      {{ form.last_name(class="form-control", type="last_name") }}
      {% for e in form.last_name.errors %}<div class="error">{{ e }}</div>{% endfor %}

      <label>{{ form.DoB.label }}</label>
      {{ form.DoB(class="Date", type="date")}}
      {% for e in form.DoB.errors %}<div class="error">{{ e }}</div>{% endfor %}

      <label>{{ form.email.label }}</label>
      {{ form.email(class="form-control", type="email") }}
      {% for e in form.email.errors %}<div class="error">{{ e }}</div>{% endfor %}

      <label>{{ form.phone.label }}</label>
      {{ form.phone(class="form-control", type="tel", ype="tel") }}
      {% for e in form.phone.errors %}<div class="error">{{ e }}</div>{% endfor %}

      <label>{{ form.password.label }}</label>
      {{ form.password(class="form-control",taype="pssword" ) }}
      {% for e in form.password.errors %}<div class="error">{{ e }}</div>{% endfor %}

      <p>Already have an account? <a href="/index" class="link">Sign in</a></p>
      {{ form.submit(class="sign", type="submit") }}
    </form>
  </div>
</body>
</html>